/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fundo */
body {
    background-color: #111;
    color: white;
}

/* Header estilo SENAI */
header {
    background-color: #d60000;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.logo {
    height: 50px;
}

header h1 {
    font-size: 22px;
    font-weight: bold;
}

/* Layout principal */
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

/* Caixa da câmera */
.camera-box {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #d60000;
    text-align: center;
}

.camera {
    border-radius: 10px;
    width: 600px;
    border: 3px solid #000;
}

/* Botão */
button {
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #d60000;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #ff1a1a;
}

/* Caixa de placas */
.plates-box {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #d60000;
    min-width: 300px;
}

.plates-box h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid #d60000;
    padding-bottom: 5px;
}

/* Lista */
ul {
    list-style: none;
}

li {
    background-color: #222;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #d60000;
    border-radius: 5px;
}