<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Reconhecimento de Placas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
</head>
<body>

<header>
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/SENAI_S%C3%A3o_Paulo_logo.png" class="logo">
    <h1>Sistema de Reconhecimento de Placas</h1>
</header>

<div class="container">

    <!-- CÂMERA -->
    <div class="camera-box">
        <img src="{{ url_for('video') }}" class="camera">
        <br>
        <button onclick="loadPlates()">Ver placas</button>
    </div>

    <!-- LISTA -->
    <div class="plates-box">
        <h2>Placas Aceitas</h2>
        <ul id="lista"></ul>
    </div>

</div>

<script>
function loadPlates() {
    fetch('/placas')
    .then(res => res.json())
    .then(data => {
        let lista = document.getElementById('lista');
        lista.innerHTML = '';

        data.forEach(p => {
            let li = document.createElement('li');
            li.textContent = p[1] + " - " + p[2];
            lista.appendChild(li);
        });
    });
}
</script>

</body>
</html>